target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/exam-backend-view/node_modules/
/online-exam.iml
/mvnw.cmd
/mvnw
/comm-domain/target/
/comm-domain/comm-domain.iml
/.mvn/
/comm-utils/target/
/comm-utils/comm-utils.iml
/exam-backend-view/.idea/
/online-examing-api/target/
